@import url("../custom_styles/hydration_banner.css");
@import url("../custom_styles/doctor_banner.css");

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns {
  p.button-container > a {
    background-color: #211645;
    font-size: 1rem;
    padding: 7px 22px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.662642);
      transition: 0.3s;
    }
  }

}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}


.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
