/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  padding-top: 10px;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: 0 auto;
  width: 70%;
  height: var(--nav-height);
  padding: 0 2rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  display: grid;
  grid-template:
    "brand tools" var(--nav-height)
    "sections sections" 1fr /
    auto 1fr;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  width: 75%;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
}

/* LINE BELOW */

header nav[aria-expanded="true"]::after {
  content: "";
  display: block;
  width: 100vw; /* Ensures the line is viewport-wide, regardless of the nav's width */
  height: 1px; /* Thickness of the line */
  position: absolute;
  left: 50%; /* Center the line */
  transform: translateX(
    -50%
  ); /* Aligns the center of the element with the center of the nav */
  bottom: -49px; /* Position the line just below the nav */
  border-top: 1px solid darkblue;
  background-color: white; /* Set the background color to white */
  box-shadow: 0 8px 10px rgb(0 0 0 / 10%); /* Add a subtle blur shadow below */
  padding-top: 48px; /* Additional padding to simulate a 'background area' */
  z-index: 2;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}


/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  padding-top: 5px;
}

header nav .nav-brand img {
  width: 160px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  padding: 0;
  background-color: white;
  width: 100%;
  z-index: 3;
  font-family: brandon-bold, sans-serif;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  width: 100%;
}

header nav .nav-sections ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  padding: 0 10px;
}

header nav .nav-sections ul > li > a {
  color: currentColor; /* Sets the color of the links */
  text-decoration: none; /* Removes underline from links */
}


header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

/** NAVIGATION ITEMS UL LIST */
header nav .nav-sections .default-content-wrapper > ul > li:last-child {
  background-color: rgb(25, 25, 113); /* Example background color */
  color: white;
  padding: 5px;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  /** For items that have a drop down **/
  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  /** ARROW DOWN*/
  header nav .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }


  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  /** INDIVIDUAL NAV ITEMS */
  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  /** The actual block that is diplayed when clicked on nav item*/
  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: auto; /* Allow width to adjust based on content */
    min-width: 200px; /* Minimum width of each column */
    max-width: 600px; /* Maximum total width of dropdown */
    margin-top: 12px;
    padding: 1em;
    background-color: white;
    white-space: nowrap; /* Ensures text does not wrap */
    font-family: brandon-normal, sans-serif;
    column-count: auto; /* Browser will adjust the column count based on content */
    column-gap: 20px; /* Space between columns */
    column-fill: balance; /* Balances items across columns */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
}

  /** Submenu styling when items are hovered */
  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li:hover {
    background-color: rgb(25, 25, 113); /* Change the background color to blue on hover */
    color: white; /* Change the text color to white on hover */
  }

  /** Adds a solid line underneath the nav item when selected */
  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] {
    border-bottom: 3px solid black; /* Adjust color and thickness as needed */
  }



  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  justify-self: end;
  width: 50%;
}

.nav-tools .default-content-wrapper {
  display: flex; /* Align children side by side */
  justify-content: space-between; /* Space out the children */
  align-items: center; /* Align children vertically in the middle */
  width: 40%; /* Ensure the wrapper takes up the full width of its parent */
}

.nav-tools .default-content-wrapper > p {
  display: flex; /* Makes the <p> a flex container to align the icon */
  justify-content: flex-end; /* Aligns the icon to the right */
  flex-grow: 0; /* Prevents the paragraph from growing */
  padding: 0; /* Optional padding */
}

/* Ensure the icon itself does not have any flex properties that might affect this layout */
.nav-tools .icon-search {
  padding-left: 20px;
}

.nav-tools .default-content-wrapper picture img {
  width: 150px;
  height: 40px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
